* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gameboard-container {
    display: flex;
    height: 600px;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 200px;
}
.gameboard {
    display: grid;
    height: 80%;
    width: 500px;
    background-color: white;
    margin-top: 50px;
    border: 5px solid black;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#ai-board {
    cursor: pointer;
}

button {
    cursor: pointer;
    /* background-color: green; */
}
#form-container {
    padding: 10px;
    width: 50%;
    text-align: center;
}
.form {
    border: 1px solid black;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}

#align {
    cursor: pointer;
}
#align-label {
    /* padding-right: 10px; */
    margin-right: 10px;
}

#placement {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
